<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>获取表单信息</title>
    <script src="../Vue/vue.js"></script>
</head>

<body>
    <form id="root" @submit.prevent="demo">
        账号：<input type="text" name="username" v-model="account.username"><br><br>
        密码：<input type="password" name="password" v-model="account.password"><br><br>
        年龄：<input type="number" name="age" v-model.number="account.age"><br><br>
        性别：<label for="male">男<input type="radio" name="sex" value="male" v-model="account.sex"></label>
        <label for="female">女<input type="radio" name="sex" value="female" v-model="account.sex"></label><br><br>
		<!-- 不写value属性的话v-model在checkbox中默认监控checked值 -->
        爱好：<label for="study">学习<input type="checkbox" name="hobby" value="study" v-model="account.hobby"></label>
        <label for="game">打游戏<input type="checkbox" name="hobby" value="game" v-model="account.hobby"></label>
        <label for="eat">吃饭<input type="checkbox" name="hobby" value="eat" v-model="account.hobby"></label><br><br>
        所属校区<select name="address" v-model="account.address">
            <option value="">请选择地点</option>
            <option value="beijing">北京</option>
            <option value="shanghai">上海</option>
            <option value="shenzhen">深圳</option>
        </select><br><br>
        其他信息：<textarea name="account.comment" v-model.lazy="account.comment"></textarea><br><br>
        <input type="checkbox" v-model="account.agree">阅读并接受<a href="https://www.baidu.com">《用户协议》</a><button>提交</button>
    </form>
    



    <script>
        Vue.config.productionTip = false;

        new Vue({
            el: '#root',
            data:{
                account:{
                    username:'',
                    password:'',
                    age:'',
                    sex:'',
                    hobby:[],
                    address:'',
                    comment:'',
                    agree:''
                }
            },
            methods:{
                demo() {
                    console.log(JSON.stringify(this.account));
                }
            }
        })
    </script>
</body>

</html>