<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/Vue/vue.js"></script>
</head>

<body>

    <div id="root">
        姓<input type="text" v-model="firstName"><br><br>
        名<input type="text" v-model="lastName"><br><br>
        全名:<span>{{fullName()}}</span>
    </div>

    <script>
        Vue.config.productionTip = false;

        new Vue({
            el: '#root',
            data: {
                firstName: '张',
                lastName: '三'
            },
            methods: {
                fullName() {
                    // 此处this为vm对象
                    return this.firstName.slice(0, 3) + '-' + this.lastName.slice(0, 3);
                }
            }
        });
    </script>
</body>

</html>