<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/Vue/vue.js"></script>
</head>

<body>

    <div id="root">
        姓<input type="text" v-model="firstName"><br><br>
        名<input type="text" v-model="lastName"><br><br>
        全名:<span>{{fullName}}</span>
    </div>

    <script>
        Vue.config.productionTip = false;

        const vm = new Vue({
            el: '#root',
            data: {
                firstName: '张',
                lastName: '三'
            },
            methods: {
                
            },
            computed: { // 计算属性中的东西要写成一个对象 因是计算属性所以{{中写属性名称即可}}
                fullName: {
                    get() { // 计算属性中的方法有缓冲 当页面首次调用和依赖的属性有更新时才会再次调用
                        // 此时this被Vue修改为vm实例 
                        return this.firstName + '-' + this.lastName;
                    },
                    set(value) { // 修改vm中data的值
                        const arr = value.split('-');
                        this.firstName = arr[0];
                        this.lastName = arr[1];
                    }
                }
                
            }
        });
    </script>
</body>

</html>